
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;

}

.signup-box {
    position: absolute;
    background: rgba(216, 187, 187, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    height: auto;
    width: 75%;
   
  }

  .form-check .form-check-input {
    float: left;
    margin-left: 4%;
}
  h2{
    text-align: center;
    padding: 4%;
  }

  .form-control {
    display: block;
    width: 80%;
    margin-left: 10%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label{
     margin-left: 10%;
}


.btn{
    margin: 2%;
align-content: center;
margin-left: 15%;
width: 70%;
}

p{
    margin-left: 10%;
}
